
  
  .range-slide {
    position: relative;
    height: 4px;

  }
  
  .filter_slide {
    position: absolute;
    top: 0;
    height: 4px;
    background: #ccc;
    left: 9px;
    right: 9px;
  }
  
  .line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: red;
  }
  
  .thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid red;
    background-color: #4ee44e;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 18px;
    width: 18px;
    margin-left: -9px;
  }
  
  .range-slide input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
  }
  
  .range-slide input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
  
  .display-range-filter {
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
  }