.menu-top-position{
    position: absolute;
    top: 0;
}

.outer-container {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    max-width: 1320px;
}

.home-menu {
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    min-height: 28.5rem;
    z-index: 20;
}

.h-566{
    height: 566px;
}

.z-index-250{
    z-index: 250;
}

.parent-box{
    height: 2rem;
    width: 2.7rem;
    display: table;
    position: relative;

}
.parent-box .child-box{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

a.none-under{
    text-decoration: none;
    color: black;
}

.child-box .w-24{
    height: 24px;
    width:24px;
    margin:0 auto;
    opacity: 0.9;
}

.home-menu .a-hover:hover{
    background-color: #f3f3f3;
    color: #1435c3!important;
    font-weight: 600;
}

.home-menu .a-hover{
    border-radius: 0.5rem;
    height: 2.5rem;
}


.opacity-4{
    opacity: 0.4!important;
}

.opacity-5{
    opacity: 0.7!important;
}
/*
.home-menu a.a-hover:hover+.home-menu-right {
    display: block;
 }

 .home-menu a.a-hover:not(:hover) + .home-menu-right  {
     display: none;
 }*/

.home-menu-right {
    border-radius: 0.5rem;
    background-color:#fff;
    position: relative;
    overflow: hidden;
    min-height: 28.5rem;
    z-index: 18;      
    transition: 0.2s;
    opacity: 1;
    margin-left:-6px ;
    padding-left: 32px;
   
    
    /*width: calc(62.625rem); 
     */
}


.home-menu-right .a-hover{
    height: 2.2rem;
}

.flex-container {
    display: grid;
  grid-template-columns: auto auto auto auto auto;
  }


.p-t-2 {
    padding-top: 1rem;
}

.m-s--16{
    margin-left: -16px!important;
}

.menu-title-right{
        margin: 0px 0px 0.5rem;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(20, 53, 195);
        font-weight: 700;
        text-decoration: unset;
        font-size: 17px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s;
}

/***************Collapsible*************/

span.rotate-180{
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(180deg);
     transition: 'transform 150ms ease'
}
